<div class="wrapper d-flex flex-row w-100">
  <div
    class="home-section left-book-page vh-100 w-50 d-flex flex-column ps-3 pe-3"
  >
    <div
      class="h-100 d-flex flex-column align-items-center justify-content-center"
    >
      <img src="../../../assets/dnd5eapi-icon.ico" alt="dnd5eapi-icon" />
      <h1>Dungeons & Dragons 5e</h1>
      <h1>Online Compendium</h1>
    </div>
  </div>
  <div
    class="home-section right-book-page vh-100 w-50 d-flex flex-column ps-3 pe-3"
  >
    <div
      class="d-flex flex-column h-100 align-items-center justify-content-center p-4"
    >
      <p class="text-center">
        Welcome to D&D 5e Online Compendium, here you will find easy access to
        most information related to the 5th edition handbook of Dungeons &
        Dragons. While multiple features can still be implemented in the future,
        currently you can navigate through our spellbook and bestiary sections,
        finding all of the relevant information about what you're looking for.
      </p>
      <p class="text-center">
        This website was developed using the D&D 5e API, and all displayed
        information is collected through the API, with credit going to its
        creators.
      </p>
      <p class="text-center">
        API website link:
        <a href="https://www.dnd5eapi.co/" target="_blank"
          >https://www.dnd5eapi.co/</a
        >.
      </p>
    </div>
  </div>
</div>
